@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', 'San-serif';
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 1rem;
    color: hsl(0, 0%, 100%);
    max-width: 18rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
    padding: .4rem;
    
}

.card-body {
    width: 100%;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 0 1rem;
}

.card-image-top {
    position: relative;
    max-width: 100%;
    height: 48%;
    padding: .5rem;
    overflow: hidden;
}

.eth-img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.img-overlay {
    position: absolute;
    top: .5rem;
    left: .5rem;
    bottom: .5rem;
    right: .5rem;
    border-radius: 1rem;
    height: 95%;
    width: 95%;
    background-color:  rgba(0, 255, 247, 0.4);
    background-image: url('./images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all ease-in 0.5s;
}

.img-overlay:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card-title {
    font-size: 1.5rem;
    transition: all ease-in 0.5s;
}

.eth-section {
    width: 100%;
    display: flex; 
    justify-content: space-between;
}

.attribution {
    color: whitesmoke;
}

.text-muted {
    color: gray;
}

.credit {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    /* margin-bottom: -2.5rem; */
}

.line {
    width: 100%;
    display: block;
    border: 1px solid hsl(215, 32%, 27%);
}

.author-icon {
    background-image: url('./images/image-avatar.png');
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.author {
    transition: all ease-in 0.5s;
}

#eth::before {
    content: url('./images/icon-ethereum.svg');
    margin-right: 5px;
}

#days-left::before {
    content: url('./images/icon-clock.svg');
    margin-right: 5px;
}

.card-title:hover, .author:hover, #eth {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}