@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: hsl(217, 54%, 11%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Outfit, 'San-serif';
    font-size: 18px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 3rem;
    color: hsl(0, 0%, 100%);
    width: 22%;
    height: auto;
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
}

@media screen and (min-width: 375px) {
    .card {
        width: 85%;
    }
}

@media screen and (min-width: 480px) {
    .card {
        width: 60%;
        /* min-height: 50%; */
    }
}


@media screen and (min-width: 768px) {
    .card {
        width: 40%;
        /* min-height: 50%; */
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 22%;
        /* min-height: 50%; */
    }
}

.card-body {
    width: 100%;
    margin-top: -1rem;
}

.card-image-top {
    position: relative;
    max-width: 100%;
    height: 48%;
    padding: 1rem;
    /* padding: 1rem 0; */
    /* text-align: center; */
}

.eth-img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.img-overlay {
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    border-radius: 20px;
    height: 88%;
    width: 90%;
    background-color:  rgba(0, 255, 247, 0.4);
    background-image: url('./images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all ease-in 0.5s;
}

.img-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.card-title {
    font-size: 1.5rem;
    margin-left: 1rem;
    transition: all ease-in 0.5s;
}

.description {
    margin: -0.2rem 0 0.6rem 0;
    padding-left: 1rem;
}

.eth-section {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    margin-bottom: 0.5rem;
}

.attribution {
    color: whitesmoke;
}

.text-muted {
    color: gray;
}

.credit {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.line {
    width: 80%;
    display: inline-block;
    margin-left: 2rem;
    border: 1px solid hsl(215, 32%, 27%);
}

.author-icon {
    background-image: url('./images/image-avatar.png');
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    /* margin-bottom: ; */
    margin: 0 1rem -0.5rem 1rem; 
}

.author {
    transition: all ease-in 0.5s;
}

#eth::before {
    content: url('./images/icon-ethereum.svg');
    margin-right: 5px;
}

#days-left::before {
    content: url('./images/icon-clock.svg');
    margin-right: 5px;
}

.card-title:hover, .author:hover, #eth {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}