html,
body {
    font-family: 'Montserrat';
    font-size: 18px;
}

body {
    height: 100%;
    background-color: hsl(217, 54%, 11%);
    font-size: 1rem;
}

.card {
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 66vh;
    width: 42vh;
    box-shadow: 0 0 15px #000000;
    color: white;
    overflow: hidden;
}

.card-body {
    margin-top: -0.1em;
}

.card-image {
    text-align: center;
    position: relative;
    padding: 2em;
}

.view-icon {
    /* transition: .5s ease; */
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* background-color: hsl(178, 100%, 50%, 0.4);; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    content: url('./images/icon-view.svg');
}

.card-image:hover img {
    opacity: 0.3;
    cursor: pointer;
}

.card-image:hover .view-icon {
    opacity: 1;
    cursor: pointer;
}

.description {
    font-size: 0.8em;
    color: beige;
}

#days-left {
    font-style: italic;
}

#eth-logo {
    background-image: url('./images/icon-ethereum.svg');
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: 0.3em;
    margin-top: 0.2em;
}

#eth {
    color: hsl(178, 100%, 50%);
}

#clock {
    background-image: url('./images/icon-clock.svg');
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: 0.3em;
    margin-top: 0.2em;
}

.author {
    font-size: 0.8em;
}

.card-title:hover, .author:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.eth-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.icon {
    height: 30px;
    width: 30px;
    background-image: url('./images/image-avatar.png');
    background-size: cover;
    display: block;
    border: 0.5px solid white;
    /* Other styles here */
    border-radius: 50%;
    margin-top: -0.1em;
}

footer {
    width: 100vw;
    text-align: center;
    background-color: aliceblue;
    position:absolute;
    bottom: 0;
}